.footer {
    background-color: #0000000a; 
    color: rgb(34, 0, 34); 
    padding: 1.5rem; 
    text-align: center; 
    width: 100%;
}

.footer-link {
    color: #c200a1; 
    text-decoration: none; 
    margin: 0 0.5rem;
}